{
"Database": {
"Hostname": "localhost",
"Schema": "new_account_zf",
"Username": "root",
"Password": "password",
"Port": 3306
},
"Network": {
"IPAddress": "192.168.0.106",
"Port": 9958,
"MaxConn": 100
},
"RealmNetwork": {
"IPAddress": "192.168.0.106",
"Port": 9865,
"MaxConn": 100
},
"DatabaseKey": ""
}