{
"Database": {
"Hostname": "localhost",
"Schema": "comet.game",
"Username": "root",
"Password": "password",
"Port": "3306"
},
"GameNetwork": {
"IPAddress": "192.168.0.106",
"Port": 5816,
"MaxConn": 500,
"ServerIdentity": 1,
"ServerName": "Dark",
"Username": "test",
"Password": "test"
},
"RpcNetwork": {
"IPAddress": "192.168.0.106",
"Port": 9865
},
"AiNetwork": {
"IPAddress": "192.168.0.106",
"Port": 8650,
"Username": "test",
"Password": "test"
},
"Authentication": {
"StrictAuthPass": false
}
}